.DS_Store
C2P-*.*
node_modules
playwright-report/*
!playwright-report/FOLDER-DESCRIPTION.md
test-results/*
!test-results/FOLDER-DESCRIPTION.md
coverage/*
!coverage/FOLDER-DESCRIPTION.md
docs/*
!docs/FOLDER-DESCRIPTION.md
codemap/*
