.DS_Store
node_modules
playwright-report/*
!playwright-report/FOLDER-DESCRIPTION.md
test-results/*
!test-results/FOLDER-DESCRIPTION.md
coverage/*
!coverage/FOLDER-DESCRIPTION.md
!docs/FOLDER-DESCRIPTION.md
codemap/*

C2P-*.*
EXTRACTED-text-*.md

# Generated functional documentation
/docs/index.html
/docs/develop/
/docs/glossary/
/docs/guides/
/docs/maintain/
/docs/understand/

# Generated technical reference
/docs/jsdoc/

